.sidebar {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: Teal;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: White;
  display: block;
}

.sidebar a:hover {
  color: Black;
}

header {
  text-align: center;
}

body {
  margin-top: 100px;
  margin-left: 200px;
  font-size: 28px;
  padding: 0px 10px;
}
