<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
      
{% seo %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
  </head>
  <body>

    <header class="page-header" role="banner">
      <h1 class="project-name">{{ page.title | default: site.title | default: site.github.repository_name }}</h1>
      <h2 class="project-tagline">{{ page.description | default: site.description | default: site.github.project_tagline }}</h2>
      <div id="timer"></div>
    </header>

    <div class="sidebar">
     <ul class="fa-ul">
           <li><a href="#"><i class="fa fa-home"></i> Home</a></li>
           <li><a href="#"><i class="fas fa-heart"></i> Our Story</a></li>
           <li><a href="#"><i class="fas fa-calendar"></i> Events</a></li>
           <li><a href="#"><i class="fas fa-camera"></i> Gallery</a></li>
           <li><a href="#"><i class="fa fa-comment"></i> GuestBook</a></li>
           <li><a href="#"><i class="fas fa-calendar-check"></i> RSVP</a></li>
      </ul>
     </div>
    <script src="js/timer.js"></script>
  </body>
</html>
