<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset="UTF-8">
      
{% seo %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    {% include head-custom.html %}
  </head>
  <body>

    <header class="page-header" role="banner">
      <h1 style="color:Teal;" text-align="center;">Sumit & Rachana</h1>
      <div id="timer"></div>
    </header>

    <div class="sidebar">
    
           <a href="#"><i class="fa fa-home"></i> Home</a>
           <a href="#"><i class="fas fa-heart"></i> Our Story</a>
           <a href="#"><i class="fas fa-calendar"></i> Events</a>
           <a href="#" onclick="myFunction()"><i class="fas fa-camera"></i> Gallery</a>
           <a href="#"><i class="fa fa-comment"></i> GuestBook</a>
           <a href="#"><i class="fas fa-calendar-check"></i> RSVP</a>
      
     </div>
    <div class="content">
        <h3> please log in </h3>
    </div>
    <script src="js/timer.js"></script>
  </body>
</html>
